@mixin gradient{
    background: linear-gradient(180deg, #176793 0%, #009EC9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
color: #176793;

}